<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Update Profile</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet">
    <style>
        
    </style>

       
</head>
<body>
    <header>
        <h2 class="logo">BEE</h2>
        <nav class="navigation">
            <a href="#">Home</a>
            <a href="Account.html">Account</a>
            <a href="addproduct.html">Product</a>
            <a href="#">Ticket</a>
            <a href="AboutUS.html">About Us</a>
            <button class="btnlogin-popup">Login</button>
        </nav>
    </header>

    <main>
        <div class="container">
            <h2 class="title">Update Profile</h2>
            <form th:action="@{/customerUpdate}" modelAttribute="customerUpdate" th:object = "${customer}" method="post">
                <div class="user-details">
                    <div class="input-box">
                        <label for="custName" class="details">Name</label>
                        <input type="text" id="custName" name="custName" th:value="${customer.custName}">
                    </div>
                </div>

                <div class="user-details">
                    <div class="input-box">
                        <label for="custEmail" class="details">Email</label>
                        <input type="text" id="custEmail" name="custEmail" th:value="${customer.custEmail}">
                    </div>
                </div>

                <div class="user-details">
                    <div class="input-box">
                        <label for="custPhone" class="details">Phone No.</label>
                        <input type="text" id="custPhone" name="custPhoneNum" th:value="${customer.custPhoneNum}">
                    </div>
                </div>

                <div class="user-details">
                    <div class="input-box">
                        <label for="custAddress" class="details">Address</label>
                        <input type="text" id="custAddress" name="custAddress" th:value="${customer.custAddress}">
                    </div>
                </div>

                <div class="user-details">
                    <div class="input-box">
                        <label for="custPassword" class="details">Password</label>
                        <input type="password" id="custPassword" name="custPassword" th:value="${customer.custPassword}">
                    </div>
                </div>

                <input type="hidden" name="customerType" th:value="${customerType}">

                <div th:if="${customerType == 'Citizen'}" class="user-details">
                    <div class="input-box">
                        <label for="custIC" class="details">IC Number</label>
                        <input type="text" id="custIC" name="custIcNum" th:value="${customer.custIcNum}">
                    </div>
                </div>
                <div th:if="${customerType == 'NonCitizen'}" class="user-details">
                    <div class="input-box">
                        <label for="passportNumber" class="details">Passport Number</label>
                        <input type="text" id="passportNumber" name="custPassport" th:value="${customer.custPassport}">
                    </div>
                </div>

                <div class="button">
                    <input type="submit" value="Save">
                </div>

                
                <a class="button" href="#" onclick="showPopup()">
                    <button type="button">Delete</button>
                </a>
                
                <!-- Confirmation Popup -->
                <div class="overlay">
                    <div class="popup">
                        <h3>Are you sure you want to delete your account?</h3>
                        <div class="btn-container">
                            <a class="button" th:href="@{/customerDelete?customerType=}+${customerType}"> <button type="button">Delete</button>
                    </a>
                            <button onclick="hidePopup()" class="secondary">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>


    <script>
    function showPopup() {
        var overlay = document.querySelector('.overlay');
        overlay.style.display = 'flex'; // Display overlay

        // Disable scroll when popup is open
        document.body.style.overflow = 'hidden';
    }

    // Function to hide the confirmation popup
    function hidePopup() {
        var overlay = document.querySelector('.overlay');
        overlay.style.display = 'none'; // Hide overlay

        // Enable scroll when popup is closed
        document.body.style.overflow = 'auto';
    }
</script>


</body>
</html>