<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Products</title>
    <link rel="stylesheet" th:href="@{stylesheets/css/addproduct.css}">
    <link rel="stylesheet" href="stylesheets/css/addproduct.css">
</head>
<body>
    <header>
        <h2 class="logo">MBG</h2>
        <nav class="navigation">
            <a href="index.html">Home</a>
            <a href="#">About</a>
            <a href="product.html">Product</a>
            <a href="#">Staff</a>
            <button class="btnLogin-popup">Login</button>
        </nav>
    </header>
    <div class="container">
        <h1>PRODUCTS</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product Name</th>
                    <th>Product Type</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.productId}">1</td>
                    <td th:text="${product.productName}">Product Name</td>
                    <td th:text="${product.productType}">Product Type</td>
                    <td th:text="${product.productQuantity}">20</td>
                    <td th:text="${product.productPrice}">100.0</td>
                    <td>
                        <img th:src="@{'data:image/jpeg;base64,' + ${product.productImage}}" alt="Product Image" width="100" height="100"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
